{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block body %}
{% for flashType, flashMessages in app.flashes %}
    {% if flashType == 'error' %}
        <div class="alert alert-danger">
            {% for message in flashMessages %}
                {{ message }}
            {% endfor %}
        </div>
    {% endif %}
    {% if flashType == 'success' %}
        <div class="alert alert-success">
            {% for message in flashMessages %}
                {{ message }}
            {% endfor %}
        </div>
    {% endif %}
{% endfor %}
<div class="page-admin container-small">
    <h1 class="fw-bold">Bienvenue</h1>
    <h2 class="mb-4">Que souhaitez vous faire : </h2>
    <div class="row admin-buttons">
        <div class="col-4 h-100"><a class="btn btn-blue w-100 h-100 rounded-3 d-flex justify-content-center flex-column" href="{{ path("app_admin_add_account") }}"><i class="fa-solid fa-user-plus"></i><span class="mt-3">Ajouter un compte</span></a></div>
        <div class="col-4 h-100"><a class="btn btn-blue w-100 h-100 rounded-3 d-flex justify-content-center flex-column" href="{{ path("app_admin_accounts") }}"><i class="fa-solid fa-pen-to-square"></i><span class="mt-3">Editer un compte</span></a></div>
        <div class="col-4 h-100"><a class="btn btn-blue w-100 h-100 rounded-3 d-flex justify-content-center flex-column" href="{{ path("app_admin_add_loan") }}"><i class="fa-solid fa-plus"></i><span class="mt-3">Ajouter un virement</span></a></div>
    </div>
</div>
{% endblock %}
